html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box; 
    text-align: center; 
    font-family: 'Merriweather', serif;
    /*font-family: "Georgia", "Garamond";
*/
}

body {
    margin: 0;
}

header {
    display: flex;
    background-color: #1F2937;
    color: white;
}

#contact-bar {
    display: flex;
    flex-direction: column;
    width: 6rem;
    height: auto;
    gap: 1.5rem;
    position: fixed;
    top: 25%;
    background-color: #1f2937b0;
    border-radius: 2rem;
}

.icon {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#nav-flex { 
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
    height: 80vh;
}

a {
    text-decoration: none;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
}

button {
    background-color: #3882f6;
    padding: 1rem;
    width: 10em;
    font-size: 1.8rem;
}

#container0 {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

#bar {
    position: relative;
    left: 15%;
    align-items:center;
    padding: 1.5rem;
}

#nav-links {
    font-size: 1.8rem;
    font: #e5e7eb;
    position: relative;
    display: flex;
    justify-content: space-around;
    right: 0%;
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    gap: 10%;
    padding: 0;
}


#nav-content-h1 {
    font-size: 4.8rem; 
    font-weight: extra-bold; 
    font: #f9faf8;
    width: 75%;
}

#container1 {
    display: flex;
    justify-content: center;
    gap: 25rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
}

#header-div {
    display: flex;
    text-align: left;
    flex-direction: column;
    position: relative;
    width: 40%;
}

#container1 p {
    font-size: 1.8rem;
}

#button {
    position: relative;
    left: 0;    
}

#header-div h1, #header-div p {
        text-align: left;
}

h1 {
    font-size: 5rem;
}

#alien {
    width: fit-content;
    height: fit-content;
    position: relative;
}

main {
    background-color: white;   
}

main section {
    padding: 2rem;
    margin-top: 2rem;
    margin-bottom: 3.5rem;
}

#maincontentdiv {
    display: flex;
    flex-direction: row;
    flex: 1;
    flex-wrap: wrap;
    justify-content:space-between;
    align-items: center;
    margin-top: 4rem;
    height: 50vh;
}

#maincontenth2 {
    display: flex;
    justify-content: center;
    font-size: 2.2rem;
}

.maincontentdivimgp {
    display: flex;
    flex-direction: column;
}

.maincontentdivimgp p {
    text-align: center;
    font-size: 1.8rem;
}

#quote-section {
    background-color: #e5e7eb;
    height: 70vh;

}

#text-quote {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 30%;
    font-size: 4rem;
    font: #1f2937;
    font-style: italic;
}

/*.quote {
    
    font-size: 3.6rem;
    margin-top: 5em;

}*/

#author {
    font-weight: bold;
    width: fit-content;
    margin-left: 69.5%;
    position: relative;
    top: 50%;
    font: #1f2937;
    font-size: 3rem;
    font-style: bold;
}

.call-to-action-section {
    display: flex;
    height: 50rem;
    align-items: center;
    justify-content: center;
  
}

.call-to-action-container {
    display: flex;
    width: 70%;  
    background-color: #3882f6;
    align-items: center;
    justify-content: center;
    border: black 0.8em;
    border-style:outset;
    border-radius: 5rem;

}

.call-to-action-container-text {
    color: white;
    flex: 1;
    width: 50%;
    padding: 15px;
    margin-left: 20rem;
    font-size: 1.8rem;
    
}

.call-to-action-container-button {
    padding: 10px;
    flex: 0 1 auto;
    width: 10em;
    margin-right: 20rem;
    font-size: 1.8rem;
}

footer {
    display: flex;
    background-color: #1F2937;
    color: white;
    height: 10rem;
    font-size: 1.6rem;
    font-weight: bold;
}

footer p {
margin: auto;
}