* {
    font-family: Roboto, Georgia;
}

* {
    box-sizing: border-box;
}

header {
    display: flex;
    background-color: #1F2937;
    color: white;

}

nav { 
    display: flex;
    flex-direction: column;
    flex: 1;
    flex-wrap: wrap;
}

#nav-content {
    display: flex;
}

.bar {
    display: flex;
    flex: 1;
    align-items:center;
    justify-content: space-between;
    padding: 15px;
    margin: 0 200px;
}

#bar-header {
    display: flex;
    flex: 1;
}

#bar-list {
    display: flex;
    flex: 1;
}

ul {
    list-style: none;
    display: flex;
    gap: 30px;

}

a {
    text-decoration: none;
    color: white;
}

nav p,
nav ul {
    font-size: 18px;
    font: #e5e7eb;
}

#nav-content-h1 {
    font-size: 48px; 
    font-weight: extra-bold; 
    font: #f9faf8;
    width: 100%;
    
}

.nav-content {
    display: flex;
    flex-direction: row;
    align-items: space-between;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin-left: 220px;
    margin-bottom: 200px;
}

#nav-section-div {
    display: flex;
    flex: 1 1 0%;
}

.roses-img {
    display: flex;
    flex-shrink: 0;
    width: 100%;
}

